@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face rule used to define the custom fonts used in this app*/
@font-face {
  font-family: "Inconsolata", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap")}

/* when the screen's width is small*/
@media(max-width:660px){
  /*titles of the paragraphs*/
  #text1{
    font-size: x-large;
  }
  /*content of the paragraphs*/
  #text2{
    font-size: medium;
  }
  /*titles of the cards*/
  #text11{
    font-size: large;
  }
  .links{
    display: none;
  }
   .menu_icon{
    display: block;
    margin-right: 20px;
  }
  .partie1{
    display: flex;
    flex-direction: column;
  }
  .svvg{
    width: 200px;
    height: 200px;
  }
  .image{
    width: auto;
  }
  .contact{
    gap: 5px;
  }
  .skills{
    display: flex;
    flex-direction: column-reverse;
  }
  .skills_icons{
    font-size: xx-large;
    gap: 8px;
  }
  .projets1{
    display: flex;
    flex-direction: column;
    width: auto;
  }
  #stage,#container2,#projet_web{
    margin-top: 20px;
    width: auto;
  }

}
/* when the screen's width is no longer small*/
@media(min-width:660px){
  .dropmenu, .menu_icon{
    display: none;
    border-bottom: 0.1px solid white;

  }
  .links{
    display: flex;
  }
  .svvg{
    width: 300px;
    height: 300px;
  }
}
.dropmenu{
  position: fixed;
  right: 1.5rem;
  top:60px;
  width: 300px;
  backdrop-filter:  blur(10px);
  border-radius: 10px;
  border-color: white;
  border-width: 0.1px;
}

.navigation{
  backdrop-filter:  blur(10px);
  border-bottom: 0.1px solid white;
  border-width: 100%;
  width: 100%;
} 
.dropmenu .small{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  /* backdrop-filter:  blur(10px); */
}
body{
  background-image: url('bac3.webp');
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.lbox{
  border-width: 0.1px;
  backdrop-filter:  blur(10px);
  border-color: white;
}
.cards{
  border-width: 0.1px;
  border-color: white;
}
